* {box-sizing: border-box; }
ul, li {margin: 0; padding: 0; list-style: none;}
.part {margin-bottom: 5%;}

ul#bx_pager_thumb01 {text-align: center;}
ul#bx_pager_thumb01 li {display: inline-block; width: 9%; margin-right: 0.5%; }
ul#bx_pager_thumb01 li img {opacity: 0.6;}
ul#bx_pager_thumb01 li a.active img {opacity: 1;}

/*Bxslider method 02*/
#bxslider_pager02 {overflow: hidden;}
#bxslider_pager02 .bx-wrapper .bx-viewport {position: initial;}
#bxslider_pager02 .bx-wrapper .bx-pager {position: initial;}
#bxslider_pager02 .bx-wrapper .bx-pager .bx-pager-item {width: 11%;}
#bxslider_pager02 .bx-wrapper .bx-pager a {display: block; margin: 0 5px; opacity: 0.6; max-width: 102px;}
#bxslider_pager02 .bx-wrapper .bx-pager a:hover,
#bxslider_pager02 .bx-wrapper .bx-pager a.active {opacity: 1; }

