@charset "UTF-8";
/* CSS Document */
#brand{background:url(../../img/brand/bg.gif) repeat-x top left; padding:25px 0 40px;}
#brandMainImg{margin-bottom:50px;}
#brandMainImg .img{float:left; width:320px;}
#brandMainImg .img02{text-align:center;}


.brand{text-align:center; margin-bottom:65px;}
.brandTit{margin-bottom:35px;}
.brandTxt{margin-bottom:30px; line-height:1.9;}

.brand01{border-bottom:1px solid #ccc; padding-bottom:45px;}
.brand03{border:1px solid #ccc; padding:65px 30px; text-align:center;}
.brand03 .brandTit img{padding:5px 10px; vertical-align:middle;}
.brand03 .brandLogo img{margin-bottom:20px; padding:0 5px;}

span.block{display:block;}
/* ==================================
		 MEDIA - REPONSIVE 
===================================== */
@media only screen and (max-width:960px){
#brandMainImg .img{width:33.3333%;}
#brandMainImg .img02{width:33.125%; padding:0 0.104%;}
.brand03{padding:30px 15px;}

}

@media only screen and (max-width:854px){
.brand03 .brandLogo img{width:17%;}

}

@media only screen and (max-width:736px){
.brandTxt{text-align:left;}
.brand03 .brandLogo img{width:auto; padding:0 20px;}

span.block{display:inline;}

}

@media only screen and (max-width:640px){
.brand03 .brandLogo img{padding:0 10px;}
.brand03 .brandTit img{padding:0;}
.brand03 .brandTit img:nth-child(1){padding:0px 0px 20px;}
}

@media only screen and (max-width:480px){
#brand{padding:15px 0 40px;}
.brand{margin-bottom:40px;}	
}

@media only screen and (max-width:375px){
#brandMainImg{margin-bottom:30px;}
.brandTit{margin-bottom:25px;}
.brandTxt{margin-bottom:20px;}
.brand01 .brandLogo{width:60%; margin:0 auto;}
.brand02 .brandLogo{width:50%; margin:0 auto;}
}