@charset "UTF-8";
/* CSS Document */

/*#plan{  background: url(../../img/common/bg_content01.png) repeat-x top; text-align: center; padding-top: 50px;}*/
#plan{ text-align: center; padding-top: 50px;}

.planBg{ background-repeat: no-repeat; background-position: right top; background-image: url(../../img/plan/bg_plan.png); }

.naviPlan{padding-bottom: 15px;}
.naviPlan ul li {float: left; margin-right: 17px;}
.naviPlan ul li:last-child{ margin-right: 0px;}

.planBox{ border: 1px solid #b9b4b2; padding:1px; margin-bottom: 40px; background-color: #fff;}

.planBoxSpec_a{ float: left; width: 321px; }

.planBoxSpec_a ul{ padding:15px;}
.planBoxSpec_a ul li{margin-bottom: 5px;text-align: left; font-size: 12px; }


.planBoxSpec_b{ text-align:left;}
.planBoxSpec_b p{padding:10px; text-align: left; font-size: 14px;}
.planBoxSpec_b ul{ padding:10px 15px;}
.planBoxSpec_b ul li{margin-bottom: 5px;text-align: left; font-size: 12px; }



.planBoxSpec_a .btnPopPlan{ margin-bottom: 30px; padding-top: 10px; }
.planBoxSpec_b .btnPopPlan{ text-align:right; margin-bottom: 20px; padding-right: 15px;}

.planBoxZumen_a{float: right; margin: 20px 20px 30px 0;}
.planBoxZumen_b{ text-align:center;}

.hanrei02 { text-align:left; padding:15px;}

.hanrei02Sp{display:none;}


.tit3ldk100{ text-align: left;  margin-bottom: 20px;}
.tit3ldk{ text-align:left;  margin-bottom: 20px;}
.tit2ldk{ text-align:left;  margin-bottom: 20px;}

#plan ul{margin-bottom: 50px;}
#plan ul li{ float: left; margin-right: 10px; margin-bottom: 10px; }
#plan ul li:hover{ opacity:0.8;}


#imgKankyo{ text-align: center; margin-top: 30px; margin-right: auto; margin-left: auto; margin-bottom: 20px; background-color: #f3f3e4; padding: 25px; }
#imgKankyoBnr{float: right; max-width:291px;}
#imgKankyoTxt{float: left; max-width:550px; text-align:left; padding-top: 30px; margin-left: 30px;}
#imgKankyoTxt img{margin-bottom: 25px;}

.mainTit{text-align: center; margin-bottom: 40px;}


/* ==================================
		 MEDIA - REPONSIVE 
===================================== */
@media only screen and (max-width:960px){
.naviPlan ul li{width:32.08%; margin-right:1.88%;}
.planBoxZumen_a{width:50%; margin:2% 2% 0 0;}
.planBoxSpec_b .img{padding-right:10px;}
#imgKankyoBnr{ width:30%}
#imgKankyoTxt{ width:60%; padding-top: 2%;  }

}

@media only screen and (max-width:736px){
.planBoxSpec_a{width:45%;}
}

@media only screen and (max-width:480px){
#plan{padding-top:30px;}	


.planBoxSpec_a, .planBoxZumen_a{width:100%; margin:0; float:none;}
.planBoxSpec_a{text-align:left;}
.planBoxSpec_a img,.planBoxSpec_b img{ width:100%}


.planBoxZumen_a{padding:20px 10px; width:auto;}
.planBoxSpec_a .btnPopPlan, .planBoxSpec_a .hanrei01{padding:0 10px;}

.planBoxSpec_b .btnPopPlan{text-align:left; padding:0 10px;}
.planBoxZumen_b .hanrei02{display:none;}
.hanrei02Sp{display:block;}
.planBoxZumen_b{padding:20px 10px; width:auto;}

.planBoxSpec_b .img{padding-right:0px;}

#plan ul{margin-bottom: 30px;}
#plan ul li{float: none; width:100%; text-align:center;}

#imgKankyo{margin-bottom: 20px;}
#imgKankyoTxt{ width:100%; float:none; margin-left: 0px;}
#imgKankyoBnr{ width:100%; float:none; text-align:center; padding-top: 15px;}



}
