@charset "UTF-8";
* {box-sizing: border-box;}
a {color: #fff;}
#main {padding:27px 22px 0; max-width:1500px; margin:0 auto;}

.container {width: 960px; margin: 0 auto;}
.fl {float: left;}
.fr {float: right;}

.txt_sp {display:none;}

header {background: url('../../img/top/header_bg.jpg') no-repeat; background-size: 100% 100%; }
header #topHeader {max-width: 1500px; margin: 0 auto; padding: 20px 15px 15px 25px; box-sizing:border-box;}
header #topHeader .fl {width: 50%; text-align: left;}
header #topHeader .fr {width: 50%;}
header #topHeader .fr ul {text-align: right; padding: 0 5px;}
header #topHeader .fr ul li {display: inline-block; text-align: center; max-width: 33.33%;}

#header_sp {display: none; }

#menusp {display: none; background: #000;  }
#menusp a:hover {opacity: 1;}
#menusp #menu_list_btn {}
#menusp #menu_list_btn {background:#000; position:relative; z-index: 9999;}
#menusp #menu_list_btn ul li {float:left; width: 33.33%; }

#menusp #menusp_content {display:none; width: 100%; background: #fff; font-size: 4vw; border-top: 2px solid #fff;}
#menusp #menusp_content a {color: #fff; display:block; padding: 2vw 35px 2vw;}
#menusp #menusp_content ul {background: #000; width: 100%;}
#menusp #menusp_content ul li {text-align: center; border-bottom: 1px solid #fff;}
#menusp #menusp_content ul li:last-child {border: 0;}
#menusp #menusp_content  li a:hover, #menusp #menusp_content  li a.active{opacity:0.6;}

#gNavi {background: #000f26; font-size: 13px; border-top: 1px solid #333; border-bottom: 1px solid #333; padding: 5px 0;}
#gNavi ul {text-align: center; padding: 0 5px;}
#gNavi ul li { float: left; border-left: 1px solid #808b9c; }
#gNavi ul li:nth-child(1) {width: 13%;}
#gNavi ul li:nth-child(2) {width: 17.6%;}
#gNavi ul li:nth-child(3) {width: 27.5%;}
#gNavi ul li:nth-child(4) {width: 11.35%;}
#gNavi ul li:nth-child(5) {width: 10.31%;}
#gNavi ul li:nth-child(6) {width: 9.27%;}
#gNavi ul li:nth-child(7) { width: 10.31%; border-right: 1px solid #808b9c; }
#gNavi ul li a:hover, #gNavi ul li a.active{opacity:0.6;}

#infoBox {text-align: center; margin-bottom: 10%; padding: 0 10px;}
#infoBox .tit {padding: 2% 0;}
#infoBox .text {padding: 0 1% 5%;}


#btnNavi {padding: 25px 10px 0; background: url('../../img/common/f_bg_01.jpg');}
#btnNavi ul {text-align: center;}
#btnNavi ul li {float:left; width:29.2%; margin: 0 6.2% 25px 0;}
#btnNavi ul li:nth-child(3n){margin-right:0;}
#btnNavi ul li a {display: block;}
#btnNavi ul li .caption{padding-top:5px;}

#fText a {color: #000; font-size: 12px;}
#fText ul {text-align: center; padding: 5px 0;}
#fText ul li {display: inline-block; padding: 0 8px; border-right: 1px solid #000; line-height: 1; }
#fText ul li:last-child {border-right: 0; }
#fText a:hover, #fText a.active{opacity:0.6;}

footer {background:url('../../img/common/footer_bg.jpg') no-repeat; background-size: 100% 100%; color: #fff; padding: 30px 10px 20px;}
footer a {text-decoration: underline;}
footer h3 {padding: 5px 0; font-size: 12px;}
footer h3 a:hover {opacity: 0.6; }
footer p {font-size: 10px; padding: 2% 0;}
footer .fl {width: 50%;}
footer .fl .sp {display: none;}
footer .fl .sp ul li {float: left;}
footer .fl .sp ul li:nth-child(1) {width: 78%;}
footer .fl .sp ul li:nth-child(2) {width: 20%;}
footer .fr {width: 50%; text-align: right;}
footer .fr ul li {display: inline-block; width: 49%;}

.mainBottom{padding-bottom:40px; max-width: 100%;}
.mainBottom .attention{font-size:10px; line-height:1.5; padding-top:15px;}
.mainBottom .attention.txt_sp{padding-bottom:15px;}

#yoko{
	display: none;
}

/*hover effect*/ 
.button {border: 1px solid rgba(0, 0, 0, 0); position: relative; display: block;}
.change-border01::after,
.change-border01::before,
.change-border01__inner::after,
.change-border01__inner::before {background-color: #fff; content: ''; display: block; position: absolute; z-index: 10; transition: all .3s ease; -ms-transition: all .3s ease; -webkit-transition: all .3s ease;}
.change-border01::after {height: 1px; left: -1px; top: -1px; width: 0px;}
.change-border01::before {bottom: -1px; height: 1px; right: -1px; width: 0px;}
.change-border01__inner::after {bottom: -1px; height: 0px; left: -1px; width: 1px;}
.change-border01__inner::before {height: 0px; right: -1px; top: -1px; width: 1px;}

.change-border01:hover::after,
.change-border01:hover::before {width: 100%; width: calc(100% + 1px);}
.change-border01:hover .change-border01__inner::after,
.change-border01:hover .change-border01__inner::before {height: 100%; height: calc(100% + 1px);}
/*hover a topNavi and btnNavi*/
#topNavi a:hover .change-border01::after,
#topNavi a:hover .change-border01::before {width: 100%; width: calc(100% + 1px);}
#topNavi a:hover .change-border01__inner::after {height: 100%; height: calc(100% + 1px);}
#topNavi a:hover .change-border01__inner::before {height: 100%; height: calc(100% + 1px);}

#btnNavi a:hover .change-border01::after,
#btnNavi a:hover .change-border01::before {width: 100%; width: calc(100% + 1px);}
#btnNavi a:hover .change-border01__inner::after {height: 100%; height: calc(100% + 1px);}
#btnNavi a:hover .change-border01__inner::before {height: 100%; height: calc(100% + 1px);}

/* ==================================
   MEDIA - REPONSIVE 
===================================== */
/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
  #yoko{
		width: 100%;
		height: 100%;
		z-index: 99999999999999;
		position: fixed;
		top: 0px;
		left:0px;
		display: block;
	}
	#yoko img{
		width: 100%;
		height: 100%;
	}	
}

@media only screen and (max-width: 1200px) {
header #topHeader {padding:20px 10px 15px;}
}

@media only screen and (max-width: 960px) {
	.container {width: 100%;}
	#gNavi {font-size: 10px;}
	#btnNavi ul li .caption	{font-size: 12px;}

}

@media only screen and (max-width: 800px) {
#btnNavi ul li{width:31%; margin-right:3.5%;} 
}

@media only screen and (max-width: 736px) {	
	.container {width: 100%;}
	#btnNavi ul li .caption	{font-size: 10px;}
	.mainBottom{max-width: 736px; margin:0 auto;}
	.mainBottom .bnr {text-align: center;}
}

@media only screen and (max-width: 670px) {	
	#gNavi {font-size: 9px;}	
}

@media only screen and (max-width:640px){
	#main{padding:17px 14px 0;}
	
	.txt_pc {display: none;}
	.txt_sp {display: block; }

	#header_sp {display: block; background: url('../../img/top/header_bg.jpg') no-repeat; background-size: 100% 100%; text-align: center; padding: 18.59% 10px 5%;}
	
	#menusp {position: fixed; width:100%; top:0; left:0; z-index:9999;}

	#topHeader {display: none;}	

	#gNavi {display: none;}
	
	#btnNavi{padding:25px 25px 0;}
	#btnNavi ul li{width:48%; margin-right:4%;}
	#btnNavi ul li:nth-child(3n){margin-right:4%;}
	#btnNavi ul li:nth-child(2n){margin-right:0;}

	#fText a {font-size: 10px;}

	footer .fl {width: 100%; text-align: center; margin-bottom: 20px;}	
	footer .fl .pc {display: none;}
	footer .fl .sp {display: block;}
	footer .fr {width: 100%; padding-right: 3%;}
	footer .fr ul {text-align: center;}
}

@media only screen and (max-width: 480px) {
	#btnNavi{padding:25px 10px 0;}
	#btnNavi ul li{margin-bottom:20px;}
	#menusp #menusp_content{border-top:1px solid #fff;}
	.mainBottom{padding-bottom:25px;}
}

@media only screen and (max-width: 375px) {
	#btnNavi ul li{margin-bottom:15px;}
	#btnNavi ul li .caption{font-size:2.2vw;}
	footer p { font-size: 8px; }
}

@media only screen and (max-width: 320px) {
	footer h3{font-size:11px;}
}

/*loading*/
#loading{background:#fff; position:fixed; top:0; left:0; width:100%; height:100%; font-size:11px; color:#666; z-index:999999;}
#loading .inner{position:absolute; top:50%; left:50%; margin-left:-40px; margin-top:-191px;}
.loader{font-size: 10px; margin: 50px auto 30px; text-indent: -9999em; width: 8em; height: 8em; border-radius: 50%; background: #acaaac; position: relative;
  background: -moz-linear-gradient(left, #acaaac 10%, rgba(172, 170, 172, 0) 42%);
  background: -webkit-linear-gradient(left, #acaaac 10%, rgba(172, 170, 172, 0) 42%);
  background: -o-linear-gradient(left, #acaaac 10%, rgba(172, 170, 172, 0) 42%);
  background: -ms-linear-gradient(left, #acaaac 10%, rgba(172, 170, 172, 0) 42%);
  background: linear-gradient(to right, #acaaac 10%, rgba(172, 170, 172, 0) 42%);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {width: 50%; height: 50%; background: #acaaac; border-radius: 100% 0 0 0; position: absolute; top: 0; left: 0; content: '';}
.loader:after{background: #fff; width: 95%; height: 95%; border-radius: 50%; content: ''; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  and (orientation: landscape){
#loading{font-size:7px;}
#loading .inner{width:60px; margin-left:-30px; margin-top:-127px;}
.loader{width:5em; height:5em; margin:30px auto 20px;}
}
